@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
}
.headline {
  text-align: center;
  font-size: xx-large;
  margin-top: 60px;
  margin-bottom: 20px;
}
.sub-headline {
  text-align: center;
  font-size: larger;
  margin-bottom: 60px;
}
.container {
  margin: 0 400px;
}
.field {
  margin-bottom: 15px;
}
.label-name {
  font-size: large;
  font-weight: 500;
}
.input-field {
  padding: 7px 14px;
  margin: 7px 0;
  font-size: large;
  border: 2px solid rgb(210, 202, 202);
  border-radius: 7px;
  color: rgb(210, 202, 202);
  width: 100%;
}
.btn {
  padding: 10px 20px;
  background: rgb(140, 37, 236);
  color: white;
  border-radius: 7px;
  font-size: small;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: medium;
}
.result {
  font-size: large;
}
